* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  margin: 0 auto;
  width: 90%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapper h1 {
  font-weight: bold;
  font-size: 2rem;
}

.hero-image {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.hero-image img {
  width: 60%;
}

.tumbnail-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tumbnail-images img {
  width: calc(20% - 4rem / 5);
  height: calc(20% - 4rem / 5);
  margin-left: 1rem;
}

.tumbnail-images img:first-child {
  margin-left: 0;
}

.border-style {
  border: .1rem solid black;
  border-radius: 1rem;
}
