* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  margin: 0 auto;
  width: 90rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero-image {
  width: 90%;
}

.tumbnail-images {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
