* {
  box-sizing: border-box;
}

body {
  width: 5000px;
  height: 5000px;
  background-color: rgba(0,0,0,.2);
  overflow: scroll;
}

.button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.run {
  position: fixed;
  top: 40px;
  left: 10px;
  z-index: 100;
}

.object {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  top: 900px;
  left: 1700px;
  border-radius: 50%;
}

.running-object {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 100px;
  left: 200px;
}
