*{
  box-sizing: border-box;
}

p{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 300px;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

p:last-child{
  border-bottom: 0;
}

p:hover{
  background-color: red;
}
