*{
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans';
  font-size: 20px;
  margin: 0;
}

header{
  background: url("../images/anakin.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid #222;
  height: 405px;
  margin: 0 auto;
  width: 100%;
}

.container{
  margin: 0 auto;
  padding: 0 25px;
  width: 700px;
}

p{
  font-size: 15px;
  line-height: 25px;
}

h3,h4,h5,ul{
  line-height: 30px;
}

ul{
  margin-bottom: 50px;
  margin-top: 20px;
}

li{
  list-style: square;;
}

section:nth-child(n+3) li{
  font-size: 15px;
  line-height: 25px;
}

p:first-child{
  font-size: 20px;
  line-height: 30px;
}

h1,
h2{
  color: #222;
  font-family: 'Abril Fatface';
  font-weight: 300;
  margin: 0;
}

h1{
  font-size: 75px;
  margin-top: -24px;
}

h2{
  font-size: 38px;
  padding-top: 250px;
}

h3{
  margin-top: 60px;
  text-transform: uppercase;
}

h4{
  margin-bottom: 0;
}

h5{
  font-style: italic;
  margin-bottom: 0;
  margin-top: -5px;
}

blockquote{
  background-color: #444444;
  color: #fff;
  font-family: 'Abril Fatface';
  font-size: 50px;
  margin-left: -45px;
  padding: 50px 45px;
  position: relative;
  width: 800px;
}

blockquote::before{
  content: '“';
  font-size: 140px;
  left: 0;
  position: absolute;
  top: -30px;
}

.quote{
  padding-right: 29px;
}

hr{
  border-top: 5px solid #222;
}
